.dashboard{
    display: flex;
    padding: 50px;
    background-color: rgb(226, 226, 226);
}

.menu-panel, .email-previews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    text-align: left;
    color: black;
}

.menu-panel{
    width: 20%;
}

/* parent containers for both logo section and profile details on dashboard */
.logo-on-dashboard, .profile-details{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start !important;
    text-align: left;
    height: fit-content;
    padding: 3px;
    width: fit-content;
}

.profile-details{
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2.5px grey;
    outline: none;
    padding-left: 7px;
}

/* text beside the logo on dashboard page */
#product-name{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

:where(.menu-panel) > * {
    margin-left: -.5%;
}

:where(.menu-panel)> .logo-on-dashboard, .profile-details{
    margin-bottom: 7%;
}

.name-and-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mail-options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

:where(.mail-options, .other-options) > a {
    text-decoration: none;
    width: fit-content;
    padding: 10px;
    padding-left: 0%;
    margin-left: 0%;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: black;
}

/* contains all emails for preview, including read and unreads */
.email-previews{
    border-radius: 15px;
    background-color: white;
    padding: 35px;
}

.format-and-prompt{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 20%;
}

.format-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: fit-content;
    margin-left: 0%;
    margin-top: 3%;
    padding: 5px;
    text-align: left;    
}

#compose-prompt{
    width: 10%;
    height: fit-content;
    padding: 5px;
    border-radius: 10px;
    align-self: flex-start;
    margin-top: 3%;
    outline: none;
    border: none;
    box-shadow: 1px 1px 2px 1px grey;
    background-color: rgb(72, 224, 72);
    color: white;
    transition: all .3s ease-in-out;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

#compose-prompt:hover{
    background-color: rgb(55, 202, 55);
}